@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto+Mono:wght@300&display=swap');

:root {
    --primary-color: rgb(107, 68, 158);
    --primary-color-darker: rgb(102, 10, 223);
}

* {
    box-sizing: border-box;
    outline: none;    
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size:24px;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

form input:focus {
    outline: 1px solid #000;
}

form button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background: red;
}

.timer {
    font-size: 3em;
}